[class^="number-slide"],
[class*=" number-slide"] {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  max-height: 100vh;
  cursor: grab;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(255, 38, 255);
  background: linear-gradient(
    128deg,
    rgb(230, 34, 248) 0%,
    rgb(245, 38, 252) 100%
  );
  background: linear-gradient(
    128deg,
    rgb(255, 83, 255) 0%,
    rgb(250, 43, 240) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgb(49, 248, 235) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #ffffff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.keen-slider {
  transition: height 0.3s;
}

.keen-slider .keen-slider__slide {
  min-height: auto !important;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.scene {
  width: 260px;
  height: 300px;
  perspective: 1000px;
  position: relative;
}
.scene .carousel.keen-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
}
.carousel__cell {
  position: absolute;
  width: 260px;
  left: 0px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .scene {
    width: 300px;
  }
  .carousel__cell {
    width: 300px;
  }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .scene {
    width: 200px;
    height: 200px;
    perspective: 400px;
  }
  .carousel__cell {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .scene {
    width: 160px;
    height: 160px;
  }
  .carousel__cell {
    width: 160px;
    height: 160px;
  }
}
