@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  background-color: white;
  color: black;
  scroll-behavior: smooth;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
